{% extends "base.html" %}

{% block main %}
    <div id="banner">
        <img src= "{{url_for('static' , filename='img/tropical.JPG') }}" height="200px" width="200px"/>
        <h1>Deallia Dunbar</h1>
        <b>@De.Lia </b>
        <p>Kingston, Jamaica. 
            Joined {{ date }}
        </p>
    </div>
    <div id="info">
        <p>I am a Computer Science major at the University of the West Indies with a keen interest in cybersecurity. I also enjoy doing website design and development.</p>
        <div class="insights"> 
            <div>
                <b id="count">9 </b>
                <p id="label"> Posts</p>
            </div>
            <div>
                <b id="count">100 </b>
                <p id="label"> Following</p>
            </div>
            <div>
                <b id="count">250 </b>
                <p id="label"> Followers</p>
            </div>
        </div>
        <a href="#" class="btn">Follow</a>
    </div>
{% endblock %}